<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vip.zh.dao.VipDOMapper">
    <resultMap id="BaseResultMap" type="com.vip.zh.pojo.VipDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="web_site_id" jdbcType="INTEGER" property="webSiteId"/>
        <result column="vip_account" jdbcType="VARCHAR" property="vipAccount"/>
        <result column="vip_password" jdbcType="VARCHAR" property="vipPassword"/>
        <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, web_site_id, vip_account, vip_password, upload_time, update_time, status, creator
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from vip
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="listVipByWebSiteId" resultType="com.vip.zh.pojo.VipDO">
        select
        <include refid="Base_Column_List"/>
        from vip
        where web_site_id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from vip
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.vip.zh.pojo.VipDO">
    insert into vip (id, web_site_id, vip_account,
      vip_password, upload_time, update_time,
      status, creator)
    values (#{id,jdbcType=INTEGER}, #{webSiteId,jdbcType=INTEGER}, #{vipAccount,jdbcType=VARCHAR},
      #{vipPassword,jdbcType=VARCHAR}, #{uploadTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{status,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.vip.zh.pojo.VipDO">
        insert into vip
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="webSiteId != null">
                web_site_id,
            </if>
            <if test="vipAccount != null">
                vip_account,
            </if>
            <if test="vipPassword != null">
                vip_password,
            </if>
            <if test="uploadTime != null">
                upload_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="creator != null">
                creator,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="webSiteId != null">
                #{webSiteId,jdbcType=INTEGER},
            </if>
            <if test="vipAccount != null">
                #{vipAccount,jdbcType=VARCHAR},
            </if>
            <if test="vipPassword != null">
                #{vipPassword,jdbcType=VARCHAR},
            </if>
            <if test="uploadTime != null">
                #{uploadTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.vip.zh.pojo.VipDO">
        update vip
        <set>
            <if test="webSiteId != null">
                web_site_id = #{webSiteId,jdbcType=INTEGER},
            </if>
            <if test="vipAccount != null">
                vip_account = #{vipAccount,jdbcType=VARCHAR},
            </if>
            <if test="vipPassword != null">
                vip_password = #{vipPassword,jdbcType=VARCHAR},
            </if>
            <if test="uploadTime != null">
                upload_time = #{uploadTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.vip.zh.pojo.VipDO">
    update vip
    set web_site_id = #{webSiteId,jdbcType=INTEGER},
      vip_account = #{vipAccount,jdbcType=VARCHAR},
      vip_password = #{vipPassword,jdbcType=VARCHAR},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
